{% extends 'core/base.html' %}
{% load static%}

{% block title%}Sobre{% endblock %}

{% block content %}
    <!-- Testimonials section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Sobre</h2>
                <p class="lead mb-0">Saiba mais sobre nós</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">O Centro de Inteligência em Agravos Tropicais Emergentes e Negligenciados foi idealizado ao longo de vários anos, já está constituído em atividades e seus pesquisadores já contam com colaborações com instituições internacionais como a Universidade de York, no Reino Unido e a Universidade de Teerã, no Irã. Tratativas de parcerias com centros de pesquisas internacionais, por exemplo, Centre de Recherche en Infectiologie (CRI) do Centre Hospitalier Universitaire de Québec (CHUQ) estão em andamento. Além desses projetos, o CIATEN pretende contar com o apoio de instituições nacionais como o Serrapilheira e internacionais como Bill & Melinda Gates Foundation e o Banco Mundial. A Universidade Federal do Piauí (UFPI), a Secretaria de Estado da Saúde (SESAPI) e a Fundação de Amparo à Pesquisa do Estado do Piauí (FAPEPI) são importantes parceiros do Centro.</p>
                                    <div class="small text-muted">Sobre o CIATEN</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!</p>
                                    <div class="small text-muted">Sobre o Banco de Leishmania</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
