{% extends 'core/base.html' %}
{% load static%}

{% block title%}Contato{% endblock %}

{% block content %}

    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Contato</h2>
                <p class="lead mb-0">Use nosso telefone, endereço ou formulário de contato</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Telefone</h5>
                            <p class="card-text">(86) 3222-2222</p>
                            <h5 class="card-title">E-mail</h5>
                            <p class="card-text"><a href="mailto:ciaten@gmail.com">ciaten@gmail.com</a></p>
                            <h5 class="card-title">Endereço</h5>
                            <p class="card-text">Teresina-PI, Brasil</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="needs-validation" action="{% url 'contact' %}" method="POST" novalidate>
                        {% csrf_token %}
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." required />
                            <label for="name">Nome</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Digite um nome.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required />
                            <label for="email">E-mail</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Digite um endereço de e-mail.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" required />
                            <label for="phone">Telefone</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">Digite um número de telefone.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                            <label for="message">Mensagem</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Digite uma mensagem.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Mensagem enviada com sucesso!</div>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro ao enviar mensagem!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" type="submit">Enviar</button></div>
                    </form>
                </div>
            </div>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if  message.tags == 'success' %}success{% else %}danger{% endif %} alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
